[tool.poetry]
name = "kube-agent"
version = "0.1.0"
description = "Kubernetes Copilot"
authors = ["Pengfei Ni <feiskyer@gmail.com>"]
readme = "README.md"
packages = [{include = "kube_agent"}]
homepage = "https://github.com/feiskyer/kube-agent"
repository = "https://github.com/feiskyer/kube-agent"
keywords = ["kubernetes", "copilot", "openai", "chatgpt", "agent", "autogen"]

[tool.poetry.scripts]
kube-agent = 'kube_agent.cli:main'

[tool.poetry.dependencies]
python = ">=3.11,<3.13"
requests = ">=2.31"
openai = ">1"
tiktoken = ">=0.3.1"
lark = "==1.1.8"
faiss-cpu = {version = "^1"}
click = ">=8.1.3"
kubernetes = ">=28.0"
streamlit = "^1.24.0"
pyautogen = "^0.2.27"

[tool.poetry.group.dev.dependencies]
httpx = {extras = ["socks"], version = "^0.27.0"}

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
